version: '3.8'

services:
  backend:
    build: ./healthcare-backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/
    depends_on:
      - mongodb
  
  frontend:
    build: ./healthcare-portal
    ports:
      - "5173:5173"
  
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
